<style type="text/css">
<!--
.txt_addr {
	font-family: Tahoma;
	font-size: 14px;
	font-weight: bold;
	color: #000000;
}

.txt_1 {
	font-family: Tahoma;
	font-size: 11px;
	font-weight: bold;
	color: #000000;
}
.link_1 {
	font-family: Tahoma;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}
.link_2 {
	font-family: Tahoma;
	font-size: 11px;
	font-weight: bold;
	color: #92AC63;
	text-decoration: none;
}
.txt_2 {
	font-family: Tahoma;
	font-size: 11px;
	font-weight: normal;
	color: #848381;
}
.link_3 {
	font-family: Tahoma;
	font-size: 11px;
	font-weight: bold;
	color: #92AC63;
	text-decoration: underline;
}
.link_4 {
	font-family: Tahoma;
	font-size: 11px;
	font-weight: bold;
	color: #6B6E65;
	text-decoration: underline;
}
.txt_3 {
	font-family: Tahoma;
	font-size: 11px;
	font-weight: bold;
	color: #92AC63;
	text-decoration: none;
}
.txt_4 {
	font-family: Tahoma;
	font-size: 11px;
	font-weight: bold;
	color: #536E9D;
	text-decoration: none;
}
.link_5 {
	font-family: Tahoma;
	font-size: 11px;
	font-weight: normal;
	color: #636364;
	text-decoration: underline;
}
.link_6 {
	font-family: Tahoma;
	font-size: 11px;
	font-weight: bold;
	color: #F5910F;
	text-decoration: underline;
}
.link_7 {
	font-family: Tahoma;
	font-size: 11px;
	font-weight: bold;
	color: #4D72A0;
	text-decoration: underline;
}
.link_8 {
	font-family: Tahoma;
	font-size: 11px;
	font-weight: bold;
	color: #878585;
	text-decoration: none;
}
.txt_6 {
	font-family: Tahoma;
	font-size: 9px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
}
-->
</style>